In [1]:
s="zeljko"

def my_func(s):
    if len(s)<4:
        return s
    else:
        return s[:3].capitalize()+s[3:].capitalize()
my_func(s)

'ZelJko'

In [5]:
s="Write a function that capitalizes the first and fourth letters of a name"
def my_func(s):
    return " ".join(s.split()[::-1])
my_func(s)

'name a of letters fourth and first the capitalizes that function a Write'

In [9]:
s="Hello"
def my_func(s):
    return "".join([c*3 for c in list(s)])
my_func(s)

'HHHeeellllllooo'

In [5]:
ints=[1,2,3,5,6,3,3,9]
def my_func(l):
    for i in range(len(l)):
        if l[i]==3 and i<len(l)-1 and l[i+1]==3:
            return True
    return False
my_func(ints)

True

In [29]:
def my_func(a,b,c):
    sum=a+b+c
    if sum<21:
        return sum
    elif a==11 or b==11 or c==11:
        sum-=10
    if sum<21:
        return sum
    else:
        return "BUST"
my_func(10,11,6)

17

In [2]:
l=[1,5,2,8,6,67,4,2,9,11,1]
def my_func(l):
    six_found=False
    sum=0
    for i in l:
        if i==6:
            six_found=True
        elif six_found and i==9:
            six_found=False
        elif not six_found:
            sum+=i
    return sum
my_func(l)

28

In [12]:
l=[2,4,0,11,5,0,0,7,4,2,43]
def my_func(l):
    d=len(l)
    for i in range(d):
        if l[i]==0 and i<d-2 and l[i+1]==0 and l[i+2]==7:
                   return True
    return False
my_func(l)

True

In [13]:
l=[1,2,3,4,1,4,11,3]
def my_func(l):
    return list(set(l))
my_func(l)

[1, 2, 3, 4, 11]